////////COLOUR
.c-accent {
    color: $accent;

}

.c-accent-light {
    color: $accent-light;
}

.c-accent-dark {
    color: $accent-dark;
}

.c-light {
    color: $light;
}

.c-light-grey {
    color: $light-grey;
}

.c-dark-grey {
    color: $dark-grey;
}

.c-dark {
    color: $dark;
}

.c-black {
    color: $black;
}

.c-white {
    color: $white;
}

////////BACKGROUND
.bg-accent {
    background-color: $accent;
}

.bg-accent-light {
    background-color: $accent-light;
}

.bg-accent-dark {
    background-color: $accent-dark;
}

.bg-light {
    background-color: $light;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-dark {
    background-color: $dark;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}