
.spacing-x1 {
    margin-bottom: 32px;
}
.spacing-xxxs {
    margin-bottom: 2px;
}
.spacing-xxs {
    margin-bottom: 4px;
}
.spacing-xs {
    margin-bottom: 8px;
}
.spacing-sm {
    margin-bottom: 12px;
}
.spacing-md {
    margin-bottom: 16px;
}
.spacing-lg {
    margin-bottom: 24px;
}
.spacing-x1 {
    margin-bottom: 32px;
}
.spacing-2x1 {
    margin-bottom: 48px;
}
.spacing-3x1 {
    margin-bottom: 56px;
}
.spacing-4x1 {
    margin-bottom: 64px;
}
.spacing-5x1 {
    margin-bottom: 72px;
}
.spacing-6x1 {
    margin-bottom: 80px;
}
.spacing-7x1 {
    margin-bottom: 88px;
}
.spacing-8x1 {
    margin-bottom: 96px;
}

.radius-xxs {
    border-radius: 4px;
}
.radius-xs {
    border-radius: 8px;
}
.radius-s {
    border-radius: 4px;
}
.radius-m {
    border-radius: 8px;
}
.radius-l {
    border-radius: 8px;
}
.radius-xl {
    border-radius: 8px;
}
.radius-xxl {
    border-radius: 8px;
}
.radius-pill {
    border-radius: 999px;
}
.radius-full {
    border-radius: 100%;
}

.icon-xs {
    width: 12px;
    height: 12px;
}
.icon-s {
    width: 16px;
    height: 16px;
}
.icon-m {
    width: 24px;
    height: 24px;
}
.icon-l {
    width: 32px;
    height: 32px;
}